# Rename this file to `.env`
# If you need endpoints ping us at https://t.me/propcornprotocol

VITE_RPC_URL_SEPOLIA=
VITE_RPC_URL_OPTIMISM=
VITE_RPC_URL_LOCAL=http://localhost:8545/
VITE_WC_PROJECT_ID=
